@tailwind base;
@tailwind components;
@tailwind utilities;

.txt-base{
  line-height: 1.5;
  font-size: 16px;
}
.txt-heading-1{
  line-height: 1.2;
  font-size: 48px;
}
.txt-heading-2{
  line-height: 1.2;
  font-size: 30px;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
  /* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.banner-background{
  background-size:cover;
  background-position:bottom;
}
.shadow-x{
  overflow-y: hidden;
  overflow-x: auto;
}
.shadow-x::before{
  content:"";
  height:100%;
  width:150px;
  background-image: linear-gradient(to right, #272323, transparent);
  left:0;
  top:0;
  position: absolute;
  opacity:0.5;
  /* @apply sm:block hidden; */
}
.shadow-x::after{
  content:"";
  height:100%;
  width:150px;
  background-image: linear-gradient(to left, #272323, transparent);
  right:0;
  top:0;
  position: absolute;
  opacity:0.5;
  /* @apply sm:block hidden; */
}
.h-pop{
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 1.5;
  -webkit-text-stroke: 2px #cb812d;
}
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #cb812d;
  color: #cb812d;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
  bottom:14px;
}
@media (min-width:640px){
  .h-pop{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .dot-flashing{
    bottom:23px;
  }
}
.loading-animation{
  display:flex;
  justify-content: center;
  align-items: flex-end;
}
.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #cb812d;
  color: #cb812d;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #cb812d;
  color: #cb812d;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #cb812d;
  }
  50%,
  100% {
    background-color: #4f4f4f;
  }
}

.checked {
  color:#cb812d
}